In [1]:
import json

In [2]:
import numpy as np 
import pandas as pd 
from sklearn.model_selection import train_test_split 
from sklearn.preprocessing import LabelEncoder 
from sklearn.ensemble import RandomForestClassifier 
from sklearn.ensemble import ExtraTreesClassifier 
import joblib

In [3]:
mydata = pd.read_csv('/home/lakshmi11/Downloads/adult.csv')
#skiprows = 1

In [4]:
mydata.head(2)

,age,workclass,fnlwgt,education,Edu-no,Marital-status,occupation,relationship,race,sex,Capital-gain,Capital-loss,Hours-per-week,Native-country,INCOME
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K

In [5]:
print('age',mydata['age'].dtypes)
print('workclass',mydata['workclass'].dtypes)
#String value stored as object type in pandas by default
print('fnlwgt',mydata['fnlwgt'].dtypes)
print('education',mydata['education'].dtypes)
print('Edu-no',mydata['Edu-no'].dtypes)
print('Marital-status',mydata['Marital-status'].dtypes)
print('occupation',mydata['occupation'].dtypes)
print('relationship',mydata['relationship'].dtypes)
print('race',mydata['race'].dtypes)
print('sex',mydata['sex'].dtypes)
print('Capital-gain',mydata['Capital-gain'].dtypes)
print('Capital-loss',mydata['Capital-loss'].dtypes)
print('Hours-per-week',mydata['Hours-per-week'].dtypes)
print('Native-country',mydata['Native-country'].dtypes)
print('INCOME',mydata['INCOME'].dtypes)

age int64
workclass object
fnlwgt int64
education object
Edu-no int64
Marital-status object
occupation object
relationship object
race object
sex object
Capital-gain int64
Capital-loss int64
Hours-per-week int64
Native-country object
INCOME object

In [7]:
print(mydata['INCOME'][0])
print(mydata['INCOME'][1])
print(mydata['INCOME'][0] + mydata['INCOME'][1])

 <=50K
 <=50K
 <=50K <=50K

In [8]:
# mydata = pd.read_csv("/home/lakshmi11/Downloads/adult.csv",na_values = ['no info', '.'])
# print(df.head(5))

In [9]:
mydata.describe

<bound method NDFrame.describe of        age          workclass  fnlwgt    education  Edu-no  \
0       39          State-gov   77516    Bachelors      13
1       50   Self-emp-not-inc   83311    Bachelors      13
2       38            Private  215646      HS-grad       9
3       53            Private  234721         11th       7
4       28            Private  338409    Bachelors      13
...    ...                ...     ...          ...     ...
32556   27            Private  257302   Assoc-acdm      12
32557   40            Private  154374      HS-grad       9
32558   58            Private  151910      HS-grad       9
32559   22            Private  201490      HS-grad       9
32560   52       Self-emp-inc  287927      HS-grad       9

            Marital-status          occupation    relationship    race  \
0            Never-married        Adm-clerical   Not-in-family   White
1       Married-civ-spouse     Exec-managerial         Husband   White
2                 Divorced   Handlers-cleaners   Not-in-family   White
3       Married-civ-spouse   Handlers-cleaners         Husband   Black
4       Married-civ-spouse      Prof-specialty            Wife   Black
...                    ...                 ...             ...     ...
32556   Married-civ-spouse        Tech-support            Wife   White
32557   Married-civ-spouse   Machine-op-inspct         Husband   White
32558              Widowed        Adm-clerical       Unmarried   White
32559        Never-married        Adm-clerical       Own-child   White
32560   Married-civ-spouse     Exec-managerial            Wife   White

           sex  Capital-gain  Capital-loss  Hours-per-week  Native-country  \
0         Male          2174             0              40   United-States
1         Male             0             0              13   United-States
2         Male             0             0              40   United-States
3         Male             0             0              40   United-States
4       Female             0             0              40            Cuba
...        ...           ...           ...             ...             ...
32556   Female             0             0              38   United-States
32557     Male             0             0              40   United-States
32558   Female             0             0              40   United-States
32559     Male             0             0              20   United-States
32560   Female         15024             0              40   United-States

       INCOME
0       <=50K
1       <=50K
2       <=50K
3       <=50K
4       <=50K
...       ...
32556   <=50K
32557    >50K
32558   <=50K
32559   <=50K
32560    >50K

[32561 rows x 15 columns]>

In [10]:
bool_series = pd.isnull(mydata["INCOME"])
bool_series

0        False
1        False
2        False
3        False
4        False
         ...
32556    False
32557    False
32558    False
32559    False
32560    False
Name: INCOME, Length: 32561, dtype: bool

In [12]:
#We separate the data and split the attributes apart from the target attribute, income
x_col = [c for c in mydata.columns if c != 'INCOME']
X = mydata[x_col]
Y = mydata['INCOME']
mydata.head()

,age,workclass,fnlwgt,education,Edu-no,Marital-status,occupation,relationship,race,sex,Capital-gain,Capital-loss,Hours-per-week,Native-country,INCOME
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [13]:
X #OUR INPUT DATA

,age,workclass,fnlwgt,education,Edu-no,Marital-status,occupation,relationship,race,sex,Capital-gain,Capital-loss,Hours-per-week,Native-country
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States

In [14]:
Y

0         <=50K
1         <=50K
2         <=50K
3         <=50K
4         <=50K
          ...
32556     <=50K
32557      >50K
32558     <=50K
32559     <=50K
32560      >50K
Name: INCOME, Length: 32561, dtype: object

In [15]:
mydata.shape, X.shape, Y.shape #32561 rows and 15 columns initially

((32561, 15), (32561, 14), (32561,))

In [16]:
#Splitting the data
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size = 0.25, random_state=42)

Evertime the below block is executed, it leads to different results. Hence we use random_state to not let the data change.

In [17]:
a, b = np.arange(10).reshape((5, 2)), range(5)
print(train_test_split(a, b))

[array([[4, 5],
       [6, 7],
       [8, 9]]), array([[2, 3],
       [0, 1]]), [2, 3, 4], [1, 0]]

We have categorical data (Data that has a limited number of possible values). One hot encoding simplifies our work to handle the data. Categorical data can be converted to numbers.

In [18]:
train_model = dict(X_train.mode().iloc[0])
X_train = X_train.fillna(train_model)
train_model

{'age': 30,
 'workclass': ' Private',
 'fnlwgt': 203488,
 'education': ' HS-grad',
 'Edu-no': 9,
 'Marital-status': ' Married-civ-spouse',
 'occupation': ' Prof-specialty',
 'relationship': ' Husband',
 'race': ' White',
 'sex': ' Male',
 'Capital-gain': 0,
 'Capital-loss': 0,
 'Hours-per-week': 40,
 'Native-country': ' United-States'}

Converting categorical data or categoricals to numbers

In [19]:
encoders = {}
for col in ['workclass', 'education', 'Marital-status','occupation', 'relationship', 'race','sex','Native-country']:
    convert_now=LabelEncoder()
    X_train[col]=convert_now.fit_transform(X_train[col])
    encoders[col]=convert_now

In [20]:
ourrand = RandomForestClassifier()
#ourrand = RandomForestClassifier(n_estimators = 100) #n_estimators=number of trees, 100 by default
ourrand = ourrand.fit(X_train, y_train)

In [21]:
ourextra = ExtraTreesClassifier(n_estimators = 100)
ourextra = ourextra.fit(X_train, y_train)

In [22]:
#we use joblib to save the ML objects
joblib.dump(train_model, "./train_mode.joblib", compress=True)
joblib.dump(encoders, "./encoders.joblib", compress=True)
joblib.dump(ourrand, "./random_forest.joblib", compress=True)
joblib.dump(ourextra, "./extra_trees.joblib", compress=True)

['./extra_trees.joblib']